<div class="col-md-3 card text-center shadow m-4">
    <div class="card-body">
        <h3 class="card-title">
            {% apply spaceless %}
                {% include 'partials/elements/anchor.twig' with {
                    'path': path('spell--book') ~ '?name=' ~ spell.spellSlug,
                    'text': spell.spellName
                } only %}

                {% if spell.concentration %}
                    {% include 'partials/elements/anchor.twig' with {
                        'path': path('spell--book') ~ '?concentration=true',
                        'text': '<sup>(c)</sup>'
                    } only %}
                {% endif %}

                {% if spell.ritual %}
                    {% include 'partials/elements/anchor.twig' with {
                        'path': path('spell--book') ~ '?ritual=true',
                        'text': '<sup>(r)</sup>'
                    } only %}
                {% endif %}
            {% endapply %}
        </h2>

        <hr>

        <p class="card-text"><em>
            {%- include 'partials/elements/anchor.twig' with {
                'path': path('spell--book') ~ '?level[]=' ~ spell.spellLevel,
                'text': spell.spellLevel|format_number(style='ordinal') ~ '-level'
            } only -%}

            ({% for spellTag in spell.spellTagList.toArray -%}
                {% apply spaceless %}
                    {% include 'partials/elements/anchor.twig' with {
                        'path': path('spell--book') ~ '?tag[]=' ~ spellTag,
                        'text': spellTag|title
                    } only %}
                {% endapply %}
                {%- if not loop.last %}, {% endif -%}
            {%- endfor -%})
        </em></p>

        <p class="card-text">
            <strong>School:</strong>
            {% for school in spell.spellSchool.toArray -%}
                {% apply spaceless %}
                    {% include 'partials/elements/anchor.twig' with {
                        'path': path('spell--book') ~ '?school[]=' ~ school,
                        'text': school|title
                    } only %}
                {% endapply %}
                {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
        </p>

        <p class="card-text">
            <strong>Classes:</strong>
            {% for adventureClass in spell.allowedClassList.toArray -%}
                {% apply spaceless %}
                    {% include 'partials/elements/anchor.twig' with {
                        'path': path('spell--book') ~ '?class[]=' ~ adventureClass,
                        'text': adventureClass|title
                    } only %}
                {% endapply %}
                {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
        </p>

        {% if spell.rareSpellCount %}
            <p class="card-text"><em>NB: {{spell.rareSpellCount|format_number(style='spellout')|title}} rare spell variant{{spell.rareSpellCount > 1 ? 's' : ''}} recorded</em></p>
        {% endif %}
    </div>
    <div class "card-footer">
        <footer class="blockquote-footer mt-3">{{ spell.publishing.source }}<br/>by {{ spell.publishing.publisherName }}</footer>
    </div>
</div>
