{% set navItems = [
    { name: 'Home', url: '/' },
    { name: 'Random Spell Card', url: '/random-spell-card' },
    { name: 'Spells By...', url: '#', dropdown: [
        { name: 'Class ', url: '/spells/class' },
        { name: 'School', url: '/spells/school' },
        { name: 'Level', url: '/spells/level' }
    ]},
    { name: 'Login', url: '/login', disabled: true }
] %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">{% for navItem in navItems %}{% include 'nav/nav-item.twig' with { navItem: navItem } only %}{% endfor %}</div>
</nav>
