{% extends "base.twig" %}

{% block body %}
    <div class="row justify-content-center m-4">
        {% set optionListSet = optionList|batch(3) %}

        {% for optionList in optionListSet %}
            <ul class="list-group list-group-horizontal justify-content-center">
                {% for option in optionList %}
                    {% set optionValue = optionType == 'numeric' ? option|format_number(style='ordinal') : option|title %}

                    <li class="list-group-item col-md-3 shadow  m-2">
                        {% include 'partials/elements/anchor.twig' with {
                            'path': path('spell--search', {'filter': optionKey, 'value': option}),
                            'text': optionValue
                        } only %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
