{% extends "base.twig" %}

{% block body %}
    <div class="row justify-content-center">
        {% for spell in spells %}
            {% include 'partials/spell/spellDetail.twig' %}
        {% endfor %}
    </div>
{% endblock %}
