<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{%- block title -%} {{ app_display_name }} | {{ app_version }}{%- endblock -%}</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {% block stylesheets %}
            {{- encore_entry_link_tags('app') -}}
        {%- endblock %}

        {% block javascripts %}
            {{- encore_entry_script_tags('app') -}}
        {%- endblock %}
    </head>
    <body class="bg-dark-subtle d-flex flex-column h-100">
        {% include 'partials/nav/nav-main.twig'%}

        <div class="row text-center justify-content-center">
            <div class="col-sm-10 col-xl-8 bg-light flexbox">
                {% include 'partials/elements/title.twig' %}

                {% block body %}{% endblock %}
            </div>
        </div>

        {% block modals %}{% endblock %}

        {% include 'partials/nav/nav-footer.twig' %}
    </body>
</html>
